<p class="btn-gnavi">
    <span></span>
    <span></span>
    <span></span>
    
</p>
<nav id="global-navi">
    <ul class="menu">
        <li>
            <span data-turbolinks="false">
                <%= link_to '・トップページ', "/" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
                <%= link_to '・マイページ', "/" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
                <%= link_to "・マイページ編集", "" %>
            </span>
        </li>        
        <li>
            <span data-turbolinks="false">
               <%= link_to '・新規投稿', "" %>
            </span>
        </li>        
        <span data-turbolinks="false">
            <li><%=  link_to '・地図でみる', "/"  %></li>
        </span>
        <li>
            <span data-turbolinks="false">
               <%= link_to '★アーティスト一覧', "/" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
               <%= link_to '★アーティスト一覧', "/" %>
            </span>
        </li> 
        <li>
            <span data-turbolinks="false">
               <%= link_to '♡フェス一覧', "/" %>
            </span>
        </li> 
        <li>
            <span data-turbolinks="false">
              <%= link_to '・ログアウト', "/" %>
            </span>
        </li>                                               
    </ul>
</nav>
<style>
#wrapper nav {
  position: fixed;
  top: 0;
  height: 100%;
  right: -300px;
  width: 300px;
  padding-top: 50px;
  background: rgba(33,33,33,.9);
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2
}

#wrapper nav ul li {
  padding: 20px 28px
}

#wrapper nav ul li a {
  text-decoration: none;
  color: #ddd
}

#wrapper .btn-gnavi {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms
}

#wrapper .btn-gnavi span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: rgb(202, 187, 187);
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms
}

#wrapper .btn-gnavi span:nth-child(1) {
  top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
  top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
  top: 20px
}

#wrapper .btn-gnavi.open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
  background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
  width: 24px;
  -webkit-transform: translate(-7px,17px) rotate(45deg);
  transform: translate(-7px,17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(3) {
  width: 24px;
  -webkit-transform: translate(-7px,-17px) rotate(-45deg);
  transform: translate(-7px,-17px) rotate(-45deg)
}


#wrapper .contents section:nth-child(odd) p {
  left: 10%
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

ul li {
    list-style-type: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}
</style>